Adafruit-Blinka==8.28.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-requests==2.0.3
adafruit-circuitpython-rfm9x==2.2.16
adafruit-circuitpython-ssd1306==2.12.16
adafruit-circuitpython-typing==1.9.6
adafruit-extended-bus==1.0.2
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.57.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.0
args==0.1.0
certifi==2020.6.20
chardet==4.0.0
clint==0.5.1
colorzero==1.1
distro==1.5.0
gpiozero==1.6.2
gsw==3.6.17
idna==2.10
numpy==1.26.2
olefile==0.46
paho-mqtt==1.6.1
Pillow==8.1.2
pyftdi==0.55.0
pyserial==3.5b0
python-apt==2.2.1
pyusb==1.2.1
requests==2.25.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
spidev==3.5
ssh-import-id==5.10
ST7789==0.0.4
sysv-ipc==1.1.0
toml==0.10.1
typing-extensions==4.9.0
urllib3==1.26.5
